body{
    background-color: #EDEDED;
    color: #000;
    font-family: "Trirong",  Arial, sans-serif;
    font-size: 13px;
}


.main-container{
    margin: auto;
    top:10px;
    width: 70%;
    padding: 10px;
    background: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[data-title] {
    position: relative;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #062e63;
    color: rgb(255, 255, 255);
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

.main-container > .volumes{
display: grid;
grid:
'menu main main main main main main main main';
grid-gap: 10px;
}

.volume-labels{
    font-size: 20px;
    display: grid;
    grid:
    'main main main main main main main main main';
    grid-gap: 10px;
    }
    

input[type=range][orient=vertical]
{
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.volumes > h3{
    text-align: center;
}

.piano-keys{
cursor: pointer;
font-family: "Trirong",  Arial, sans-serif;
font: 16px;
border: 1px solid black;
border-radius: 5px;
width: 40px;
height: 80px;
text-align: center;
box-shadow: 2px 2px darkgrey;
display: inline-block;
position: relative;
margin-right: 3px;
user-select:text;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.main-container > .controls{
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

.main-container > canvas{
    background: black;
    width:100%;
}

.main-container > #newKeyboard{
    /* text-align: center; */
    margin: 10px;
    display: block;

}