<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container">

    <header>

    </header>

    <main>



        <canvas id="audio_visual" height="500" width="1000" onload="auth"></canvas>

        <audio id="myAudio" controls preload="none" src="/SineWave100hz.mp3" type="audio/mp3"></audio>
        <input list="wavetypes" name="wavetypes" id="wavetype" onchange="setaudiosource()">
        <datalist id="wavetypes">
          <option value="sine"></option>
          <option value="saw"></option>
          <option value="triangle"></option>
          <option value="square"></option>
        </datalist>
        <form action="https://photosynthesynth.herokuapp.com/logout">
            <input type="submit" value="Sign Out" />
        </form>

    </main>

    <footer>

    </footer>

</body>
<script>

    function setaudiosource() {
        var wavetype = document.getElementById("wavetype");
        var audioplayer = document.getElementById("myAudio");
        var strUser = wavetype.value;
        switch (strUser) {
            case 'saw':
                audioplayer.src = 'SawToothWave100hz.mp3';
                break;
            case 'sine':
                audioplayer.src = 'SineWave100hz.mp3';
                break;
            case 'square':
                audioplayer.src = 'SquareWave500hz.mp3';
                break;
            case 'triangle':
                audioplayer.src = 'TraingleWave100hz.mp3';
                break;
        }
    }
</script>
<script src="/osiloscopecode.js"></script>

</html>
